.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 5%;
}

.optimum-container {
  /* margin-bottom: 20%; */
  color: #43e4bc;
  background-color: #484848;
  text-align: center;
  min-height:200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.button-back {
  color:white;
  background-color: #00b18c;
  border: 2px solid #00b18c;
  margin-top: 10%;
  padding: 2%;
  min-width:50%;
}

span {
  color: #00b18c;
}

.footer{
  display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}