 <div class="container">
    <h4>Select Location</h4>
   <mat-select placeholder="Germany" [(value)]="selectedState">
     <mat-option *ngFor="let state of states" [value]="state">
       {{state}}
     </mat-option>
   </mat-select>
   
   <h4>Select Device</h4>
   <mat-select placeholder="Any" [(value)]="selectedDevice">
       <mat-option *ngFor="let device of devices" [value]="device">
         {{device}}
       </mat-option>
    </mat-select>

     <button class="button-submit">
        <a (click)="handleSubmit()" [routerLink]="['/results']">find perfect timing</a>
     </button>

     <p>You chose: {{selectedState }} and {{selectedDevice}}</p>
    
  </div>

