 <div class="container">
    <h4>
        This app will find the optimal time for you to use electricity. It calculates the share of renewable energy from the total energy production in your area.
    </h4>
    <h4>Select Location</h4>
   <mat-select placeholder="Germany" [(value)]="selectedState">
     <mat-option *ngFor="let state of states" [value]="state">
       {{state}}
     </mat-option>
   </mat-select>
   
   <h4>Select Device</h4>
   <mat-select placeholder="Any" [(value)]="selectedDevice">
       <mat-option *ngFor="let device of devices" [value]="device">
         {{device}}
       </mat-option>
    </mat-select>

     <button class="button-submit" (click)="handleSubmit()" [routerLink]="['/results']">
        find perfect timing
     </button> 
     <button class="button-submit" *ngIf="now >= 18" (click)="handleSubmitTomorrow()" [routerLink]="['/results']">
      find tomorrow
   </button>       
  </div>

