.container {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.button-submit {
  color: black;
  background-color: #43e4bc;
  border-width: 1px;
  border-color: #43e4bc;
  margin-top: 10%;
  padding: 2%;
  width: 50%;
}

a {
  text-decoration: none;
}

